* {
  box-sizing: border-box;
}

html, body {
  font-family: Roboto, sans-serif;
  /* Normalize */
  margin: 0;
  padding: 0;
  background: #ececec;
}

sc-view {
  contain: strict;
  /*
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  */
  width: 100%;
  height: 100vh;
  margin-top: 18px;
  padding: 10px;
  position: absolute;
  pointer-events: none;
  opacity: 0;
  transform: scale(.95);
  transition: transform 0.2s cubic-bezier(0, 0, .3, 1),
              opacity 0.2s cubic-bezier(0, 0, .3, 1);
}

sc-view.visible {
  opacity: 1;
  pointer-events: auto;
  transform: none;
  background: #ececec;
}

sc-view[remote]::after {
  content: '';
  position: fixed;
  left: 50%;
  top: 50%;
  width: 32px;
  height: 32px;
  background: url(/imgs/loader.gif);
}

.view-home {
  /*background: #ececec;*/
}

.view-about {
  /*background: #2196F3;*/
}

.view-contact {
  /*background: tomato;*/
}

nav {
  position: fixed;
  right: 10px;
  top: 10px;
  background: #FFF;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
  border-radius: 3px;
  padding: 10px 20px;
  z-index: 1;
}
