<% if(partial == false) { %> <% include ../header %> <% } %>

    <div view class="view-contact visible">
      <div class="dom-card">
        <h2>Resume</h2>
        <p>
          Click <a href="https://drive.google.com/uc?export=download&id=0B2HRo77RSb3FRGt5aEUwVzdHVWc">here</a> to download my resume
        </p>
        <iframe _ngcontent-wek-10="" height="900px" src="https://drive.google.com/file/d/0B2HRo77RSb3FRGt5aEUwVzdHVWc/preview" width="100%"></iframe>
      </div>
    </div>

<% if(partial == false) { %> <% include ../footer %> <% } %>
