<% if(partial == false) { %> <% include ../header %> <% } %>

    <div view class="view-about visible" route="^/about(.*)">
      <div class="dom-card">
        <h2>About</h2>
        <p>
          All of our members:
        </p>
        <div>
          <ul>
            <li>Dominic Farolino</li>
            <li>Ian Moore</li>
            <li>Zak Kauth</li>
            <li>Alex Bagwell</li>
            <li>Tyler Laffin</li>
            <li>Elijah Galloway</li>
          </ul>
        </div>
      </div>
      <div class="dom-card">
        <h2>About</h2>
        <p>
          All of our members:
        </p>
        <div>
          <ul>
            <li>Dominic Farolino</li>
            <li>Ian Moore</li>
            <li>Zak Kauth</li>
            <li>Alex Bagwell</li>
            <li>Tyler Laffin</li>
            <li>Elijah Galloway</li>
          </ul>
        </div>
      </div>
      <div class="dom-card">
        <h2>About</h2>
        <p>
          All of our members:
        </p>
        <div>
          <ul>
            <li>Dominic Farolino</li>
            <li>Ian Moore</li>
            <li>Zak Kauth</li>
            <li>Alex Bagwell</li>
            <li>Tyler Laffin</li>
            <li>Elijah Galloway</li>
          </ul>
        </div>
      </div>
      <div class="dom-card">
        <h2>About</h2>
        <p>
          All of our members:
        </p>
        <div>
          <ul>
            <li>Dominic Farolino</li>
            <li>Ian Moore</li>
            <li>Zak Kauth</li>
            <li>Alex Bagwell</li>
            <li>Tyler Laffin</li>
            <li>Elijah Galloway</li>
          </ul>
        </div>
      </div>
      <div class="dom-card">
        <h2>About</h2>
        <p>
          All of our members:
        </p>
        <div>
          <ul>
            <li>Dominic Farolino</li>
            <li>Ian Moore</li>
            <li>Zak Kauth</li>
            <li>Alex Bagwell</li>
            <li>Tyler Laffin</li>
            <li>Elijah Galloway</li>
          </ul>
        </div>
      </div>
      <div class="dom-card">
        <h2>About</h2>
        <p>
          All of our members:
        </p>
        <div>
          <ul>
            <li>Dominic Farolino</li>
            <li>Ian Moore</li>
            <li>Zak Kauth</li>
            <li>Alex Bagwell</li>
            <li>Tyler Laffin</li>
            <li>Elijah Galloway</li>
          </ul>
        </div>
      </div>
      <div class="dom-card">
        <h2>About</h2>
        <p>
          All of our members:
        </p>
        <div>
          <ul>
            <li>Dominic Farolino</li>
            <li>Ian Moore</li>
            <li>Zak Kauth</li>
            <li>Alex Bagwell</li>
            <li>Tyler Laffin</li>
            <li>Elijah Galloway</li>
          </ul>
        </div>
      </div>
    </div>

<% if(partial == false) { %> <% include ../footer %> <% } %>
